<title>Automated Web Application</title>
<br>
  <h1>This application takes an aggregate of integers and multiplies it with the "Number" parameter. </h1>
  <br>
  <h1> Only the integers upper than lower bound are multiplied.</h1>
  <br>
  Enter the aggregate of integers in the first box.
  <br>
  Enter the number to second box.
  <br>
  Enter the lower bound to third box.
  <br>
  Enter the output message to fourth box.
  <br>
  Result will be displayed.
  <br>

  {{result}}


  <form action="compute" method="post">
        <textarea name="ArrayList" rows="10" cols="30"></textarea>
        <textarea name="Number" rows="10" cols="30"></textarea>
        <textarea name="Lower Bound" rows="10" cols="30"></textarea>
        <textarea name="Message" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
